.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 1px 10px;
    background-color: #ffbe0b;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn > img {
    width: 18px;
    margin: 10px;
}

.btn > p {
    line-height: 0;
    font-size: 20px;
    color: #0d1b2a;
}