.textarea-container {
    width: 100%;
    padding: 5px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    align-content: center;
    border-radius: 4px;
}

.textarea-container textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #e0e1dd;
    border-radius: 4px;
    outline: none;
    background-color: #f8f9fa;
}

.textarea-container textarea:focus {
    border: 1px solid #0d1b2a;
}

.textarea-container label {
    margin-bottom: 5px;
    color: #0d1b2a;
}
